<div class="container-fluid">
  <div class="col-6">
    <table class="table">
      <thead>
        <tr>
          <th class="h4">#</th>
          <th class="h4" id ="azul">Name</th>
          <th class="h4">channel</th>
          <th class="h4">Seasons</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of courses">
          <td>
            <dd>{{ c.id }}</dd>
          </td>
          <td>
            <dd>{{ c.name }}</dd>
          </td>
          <td>
            <dd>{{ c.professor }}</dd>
          </td>
          <td>
            <dd>{{ c.credits }}</dd>
          </td>     
        </tr>
        <div> 
          <h4  >Promedio de series</h4>
          <h4  >{{ promedio() }}</h4>
        </div>
      </tbody>
    </table>
  </div>
</div>
